.carousel-section{
    display: flex;
  justify-content: space-between;
  align-items: center;
}
.carousel {
    overflow: hidden;
    position: relative;
}
.carousel-header{
    text-align: center;
    margin-top: 160px;
    margin-bottom: 90px;
}
  
.inner {
    white-space: nowrap;
    transition: transform 0.3s;
}
  
.carousel-item {
    display: inline-flex;
    align-items: center;
    gap: 60px;
    color: #fff;
    
}
.carousel-img{
    width: 350px;
    height: 350px;
}
.carousel-img img{
    width: 350px;
    height: 350px;
    /* width: 100%; */
    object-fit: cover;
    /* filter: drop-shadow(10px 20px 50px rgba(0, 0, 0, 0.15)); */
    border-radius: 500px 0px 500px 500px;
}
.carousel-details{
     width: 5px !important;
}
  
.indicators {
    position: absolute;
    bottom: 10%;
    right: 35%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    gap:15px;
}
.indicators .active{
    content: url('/images/Ellipse 88.svg');
}
.indicators .non-active{
    content: url('/images/Ellipse 90.svg');
}
/* .indicators > button {
    margin: 5px;
}
  
.indicators > button.active {
    background-color: green;
    color: #fff;
} */
  